html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
body {
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size:12px;
}
canvas {
	vertical-align:bottom;
}

div#container {
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}

div.digit {
	position:absolute;
	font-size:64px;
	color:rgba(0,0,0,1.0);
	pointer-events:none;
}
